<html>
<head>

<!--
<script src="static/js/jquery-1.5.1.min.js"></script>
<script src="static/js/underscore-min.js"></script>
<script src="static/js/albumen.js"></script>
-->

<link rel="stylesheet" type="text/css" href="/static/css/albumen.css">
</head>

<div style="width:800px; margin:0 auto">
  <p class="goldwing">Albumen Library</p>
  <p class="goldwing-sm"><a href="/albumen/search">Search</a></p>
  <table>
    <colgroup>
      <col style="width:400px"/>
      <col style="width:400px"/>
      <col />
    </colgroup>
    <tbody>
      {% for album in albums: %}
        {% if album.get('image'): %}
        <tr style="font:24px Verdana" class="{{ album.row_type }}">
          <td>{{ album['artist'] }}</td><td>{{ album['album'] }}</td>
          <td style="font:12px Courier; width:400px; text-align:right">
            <p>red: {{ '%.03f' % (album['image']['red'] or 0.0) }}</p> 
            <p>green: {{ '%.03f' % (album['image']['green'] or 0.0) }}</p> 
            <p>blue: {{ '%.03f' % (album['image']['blue'] or 0.0) }}</p>
            <p>lightness: {{ '%.03f' % (album['image']['lightness'] or 0.0) }}</p> 
            <p>saturation: {{ '%.03f' % (album['image']['saturation'] or 0.0) }}</p> 
            <p>complexity: {{ '%.03f' % (album['image']['complexity'] or 0.0) }}</p>
          </td>
          <td><img src="/{{ album['image']['path'] }}" width="80" height="80"></img></td>
        </tr>
        {% else: %}
        <tr style="font-size:24px;color:red" class="{{ album.row_type }}">
          <td>{{ album['artist'] }}</td><td>{{ album['album'] }}</td><td></td>
          <td><img src="/static/albumen/no_image.png" width="80" height="80"></img></td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'templates_albumen.html' %}

</html>
