<html>
<!--
<script src="static/js/jquery-1.5.1.min.js"></script>
<script src="static/js/underscore-min.js"></script>
<script src="static/js/albumen.js"></script>
-->

<style>
p.goldwing{
    font: 60px Verdana; 
    font-weight:900; 
    letter-spacing:-7px; 
    color:#DFDF00;
}
table,td {
    border:2px solid #EFEF8F;
    padding-right:10px;
    padding-left:10px;
    border-collapse:collapse;
    font:28px Verdana;
    font-weight:700;
    letter-spacing:-2px
}
tr.trodd {
    background-color:#FFFFEF;
}
tr.treven {
    background-color:#FFFFAF;
}
</style>

<div style="width:800px; margin:0 auto">
  <p class="goldwing">Albumen Library</p>
  <table>
    <colgroup>
      <col style="width:400px"/>
      <col style="width:400px"/>
      <col />
    </colgroup>
    <tbody>
      {% for album in albums: %}
        {% if album.get('image'): %}
        <tr style="font:24px Verdana" class="{{ album.row_type }}">
          <td>{{ album['artist'] }}</td><td>{{ album['album'] }}</td>
          <td><img src="/{{ album['image']['path'] }}" width="80" height="80"></img></td>
        </tr>
        {% else: %}
        <tr style="font-size:24px;color:red" class="{{ album.row_type }}">
          <td>{{ album['artist'] }}</td><td>{{ album['album'] }}</td>
          <td><img src="/static/albumen/no_image.png" width="80" height="80"></img></td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'templates_albumen.html' %}

</html>
