<script id="album_template" type="text/template">
  <p>Found <%- results %> results:</p>
  <table id="album_table"><tbody></tbody></table>
</script>
 
<script id="album_row" type="text/template">
  <tr id="<%- album.image.uid %>">
    <td style="font-size:20px; font-weight:500">
      <p id="artist_name"><%- album.artist_name %></p>
      <p id="album_name"><%- album.album_name %></p>
    </td><td>
      <img src="<%- album.image.url %>" width="150" height="150"></img>
    </td>
  </tr>  
</script>
 
<script id="image_row" type="text/template">
  <tr id="<%- album.image.uid %>">
    <td style="font-size:20px; font-weight:500">
      <p id="artist_name"><%- album.artist_name %></p>
      <p id="album_name"><%- album.album_name %></p>
      <p id="img_url" style="font:14px courier;"><%- album.image.url %></p> 
      <p style="font-weight:bold"><%- width %>x<%- height %></p>
    </td><td>
      <img src="<%- album.image.url %>" width="150" height="150">
    </td>
  </tr>
</script>

<script id="loading-gif" type="text/template">
  <div style="width:120px; margin: 0 auto">
    <img src="/static/albumen/loading.gif" width="100" height="100"></img>
  </div>
</script>
